# -*- yaml -*-

collector:
  parallel: 4
  routers:
    router1.example.com: public
    router2.example.com: public
    router3.example.com: public
  domains: ["example.com", "example.net"]
web:
  port: 8096
  interface: 127.0.0.1
  included: [ "http://example.com/app1/*", "http://example.com/app2/*" ]
  examples: [ "127.0.0.1", "host1.example.com" ]
